*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: blanchedalmond;
}
.empty{
  width: 90%;
  height: 250%;  
    background-color: blueviolet;
    position: absolute;
    bottom: -10%;
    left: -40%;
    transform: rotate(45deg);
    z-index: -999;
}
.box{
    text-align: center;
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    box-shadow: 2px 2px 7px black;
    padding: 10px 0;
}

#box
{
    margin-top: 15%;
    margin-bottom: 40px;
}
.box h1
{
    font-size: 40px;
}
input{
    padding: .5% 1%;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    accent-color: blueviolet;
}
button{
    font-size: 25px;
    padding: 4px 10px;
    border-radius: 50%;
    font-weight: 500;
    background-color: blueviolet;
    box-shadow: inset 2px 2px 0 #fff;
}


.item{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item p{
    font-size: 20px;
    margin-left: 20px;
    font-family: serif;
}

#check:checked ~ p
{
    text-decoration: line-through;
}